<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
<th:block th:fragment="navigation" th:with="page=${page}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="col-6">
            <a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
            <a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
            <a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
            <a href="/trade/list">Trade</a>&nbsp;|&nbsp;
            <a href="/ruleName/list">Rule</a>
            <span sec:authorize="hasRole('ROLE_ADMIN')"> | <a href="user/list">Users</a></span>
        </div>
        <th:block th:replace="~{fragments/logout :: logout}"/>
    </nav>
</th:block>
</body>
</html>
